

#menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 5rem;
    
    
    
}

#menu-list > a {
    font-family: spotflix;
    font-size: .8rem;
    text-decoration: none;
    color:var(--branco_transparente);
}
